[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
ipykernel = "*"
hla3d = "*"
pandas = "*"
dash = "*"
dash-daq = "*"
dash-bootstrap-components = "*"
pygit2 = "*"
dash-bio = "*"
regex = "*"
parmed = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
